body {
    font-family: 'Source Sans Pro', sans-serif;
    border: 10px #bdc7cf solid;
    padding: 10px;
    margin: 15px auto;
}

h2 {
    color: #354563;

    text-transform: uppercase;
    letter-spacing: 0.3rem
}

.date { 
    color: #3098dd;

    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

hr {
    border: 0;
    height: 0px;
    border-top: 2px #354563 solid;
    border-bottom: 4px #bdc7cf solid;
    margin: 25px 0;
}

.quote {
    border-left: 4px #bdc7cf solid;
    padding-left: 5px;
}